button {
  border: none;
  background-color: rgba(0, 0, 139, 0.61);
  font-size: 24px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}

button:hover {
  background-color: rgba(0, 0, 139, 0.781);
}
.equals {
  grid-column: 3/5;
  background-color: brown;
}
.equals:hover {
  background-color: rgb(192, 34, 34);
}
